body{
  font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Heiti SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
a{
  text-decoration: none;
}
li, ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-title{
  position: absolute;
  top: 70px;
  left: 20%;
  right: 20%;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px){
  .main-title{
    position: absolute;
    top: 4vh;
    left: 20%;
    right: 20%;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-align: center;
  }
}
@media screen and (min-width: 1500px){
  .main-title{
    top: 100px;
    font-size: 30px;
  }
}
/*fullpage 样式重写*/
/* #fp-nav.right{
  right:40px;
}
#fp-nav ul li{
  line-height: 24px;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 12px auto;
}
#fp-nav ul li a span{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,.7);
  transition: all .3s ease;
  border-radius: 50%;
  opacity: .1;
  cursor: pointer;
}
#fp-nav ul li a.active span{    
  transform: translateY(-50%) scale(3);
  opacity: 1;
} */

@media screen and (max-width: 768px){
  #fp-nav{
    display: none;
  }
}